<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>06-03</title>
        <script src="../../Sources/Vue2x/vue.js"></script>
    </head>
    
    <body>
        <div id="example">
            <h1>hello template</h1>
            <hello-world></hello-world>
            <br />
            <h1>hello template1</h1>
            <hello-world1></hello-world1>
        </div>
    </body>
    <template id="helloTemplate">
        <div>Hello</div>
        <div>World</div>
    </template>
    <template id=helloTemplate1>
        <!-- template 문자열 안에서 루트 요소(Root Element)는 하나여야 한다. -->
        <!-- 만일 template 내부에서 여러 요소를 작성해야 한다면 <div> 요소 등을 이용해 하나로 감싸주어야 한다 -->
        <div>
            <div>Hello1</div>
            <div>World1</div>
        </div>
    </template>
    <script type="text/javascript">
        Vue.component("hello-world", {
            template: "#helloTemplate"
        });

        Vue.component("hello-world1", {
            template: "#helloTemplate1"
        });

        // vue component 를 적용시킬 때는 해당 컴포넌트를 사용하는 태그를 혹은 감싸는 태그를 vue 인스턴스에 바인딩해야 한다
        var vm = new Vue({
            el: "#example"
        });
    </script>
</html>