<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>06-04</title>
        <script src="../../Vue2x/vue.js"></script>
    </head>
    <script type="text/javascript">
        var gData = { nowTS: 0 };

        Vue.component("time-component", {
            template: "#timeTemplate",
            data: function () {
                // 컴포넌트별로 다른 데이터 객체를 사용하도록 하기위해
                // 함수를 호출할 때마다 객체를 새로 만들어 반환한다.

                // data: object 
                // 와 같은 형식으로 data 옵션을 초기화 하면 안 된다.
                // 이와 같이 함수를 통해 객체(object)를 반환하는 방법으로 
                // data 옵션을 초기화 한다.
                return { nowTS: 0 }
            },
            methods: {
                timeClick: function (e) {
                    var date = new Date();
                    this.nowTS = date.getTime();
                }
            }
        });

        Vue.component("wrong-time-component", {
            template: "#timeTemplate",
            data: function () {
                // 이렇게 처리하면 동일한 컴포넌트를 여러 번 사용하더라도 
                // 데이터 옵션을 모두 동일한 객체를 참조하게 된다.
                return gData;
            },
            methods: {
                timeClick: function (e) {
                    var date = new Date();
                    this.nowTS = date.getTime();
                }
            }
        });
    </script>
    <template id="timeTemplate">
        <div>
            <span>{{ nowTS }}</span>
            <button @click="timeClick">현재 시간</button>
        </div>
    </template>
    <body>
        <div id="app">
            <time-component></time-component>
            <time-component></time-component>
            <br />
            <wrong-time-component></wrong-time-component>
            <wrong-time-component></wrong-time-component>
        </div>
    </body>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app"
        });
    </script>
</html>