<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>06-06</title>
        <script src="../../Vue2x/vue.js"></script>
    </head>
    <template id="listTemplate">
        <div>
            <li>{{ myMessage }}</li>
            <li v-for="country in countries">count : {{ count }}, countries : <span>{{ country }}</span></li>
        </div>
    </template>
    <!-- 
    <template id="listTemplate">
        <li>{{ myMessage }}</li>
        아래는 다음과 같은 에러 발생
        Component template should contain exactly one root element. 
        If you are using v-if on multiple elements, use v-else-if to chain them instead.
        
        <ol v-for="country in countries">
            <li>{{ country }}</li>
        </ol>

        이 에러를 해결하기 위해서는 template 하위를 <div> 태그 하나로 감싸서 root 요소 역할을 하도록 만든다
    </template> -->
    <script type="text/javascript">
        Vue.component("list-component-obj-props", {
            template: "#listTemplate",
            props: {
                myMessage: { type: String, default: "Hi~!" },
                count: { type: Number, required: true },
                countries: {
                    type: Array,
                    default: function () {
                        // 배열이나 객체의 기본값을 부여할 때는 다음과 같이 함수의 리턴값으로 부여한다
                        // 속성값을 전달 할 때는 v-bind 디렉티브를 사용한다.
                        return ["대한민국"];
                    }
                }
            }
        });
    </script>
    <body>
        <div id="app">
            <ul>
                <list-component-obj-props my-message="Hello"
                                          v-bind:count="100"
                                          v-bind:countries="['미국', '영국', '호주']"></list-component-obj-props>
                <list-component-obj-props my-message="Moonkee Lee"
                                          v-bind:count="110"
                                          v-bind:countries="['베트남']"></list-component-obj-props>
                <list-component-obj-props my-message="Nice"
                                          v-bind:count="120"
                                          v-bind:countries="['대만']"></list-component-obj-props>
                <list-component-obj-props my-message="to meet you"
                                          v-bind:count="130"
                                          v-bind:countries="['중국', '일본']"></list-component-obj-props>
                <list-component-obj-props v-bind:count="100"></list-component-obj-props>
            </ul>
        </div>
    </body>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app"
        });
    </script>
</html>