<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>06-05</title>
        <script src="../../Vue2x/vue.js"></script>
    </head>
    <template id="listTemplate">
        <li>{{ myMessage }}</li>
    </template>
    <script type="text/javascript">
        // props 에서 카멜표기법으로 적은 것은 실제 태그 내에서 사용할 때 케밥 표기법으로 사용한다.
        Vue.component("list-component", {
            template: "#listTemplate",
            props: [ "myMessage" ]
        });

        // 속성을 정의할 때 속성에 대한 엄격한 유효성 검증이 필요하다면
        // 배열이 아닌 객체 형태를 사용할 수 있다.
        // type에는 다음 네이티브 생성자 중 하나를 사용할 수 있다. 
        // String, Number, Boolean, Function, Object, Array, Symbol
        // type 에는 배열도 사용 가능하다. (type: [String, Number])
        Vue.component("list-component-obj-props", {
            template: "#listTemplate",
            props: {
                myMessage: { type: String, default: "Hi~!" },
                count: { type: Number, required: true }
            }
        });
    </script>
    <body>
        <div id="app">
            <ul>
                <list-component my-message="Hello"></list-component>
                <list-component my-message="Wallah"></list-component>
                <list-component my-message="Baba"></list-component>
                <!-- <list-component myMessage="Baba"></list-component> -->
                <!-- 태그 내에서 대소문자를 구별하지 않으므로 카멜표기법은 오류를 발생시킬 수 있다. 
                     따라서 템플릿의 카멜표기법은 태그 내에서 케밥 표기법으로 바꿔 사용한다. -->
            </ul>
            <br />
            <ul>
                <!-- 아래는 다음 오류를 생성
                Invalid prop: type check faild for prop "count". Expect "Number", got "String"
                "100", "30" 과 같은 리터럴은 자바스크립트 구문으로 인식되지 않고 문자열 값으로 전달된다.
                따라서 v-bind 디렉티브를 사용한다. -->
                <!-- 
                <list-component-obj-props my-message="Hello" count="100"></list-component-obj-props>
                <list-component-obj-props my-message="Wallah" count="30"></list-component-obj-props> -->
                <list-component-obj-props my-message="Hello" v-bind:count="100"></list-component-obj-props>
                <list-component-obj-props my-message="Wallah" :count="30"></list-component-obj-props>
                <!-- 아래는 다음 오류를 생성 : Missing required prop: "count" -->
                <!-- <list-component-obj-props my-message="Baba"></list-component-obj-props> -->
                <list-component-obj-props my-message="Baba" :count="21"></list-component-obj-props>
                <list-component-obj-props :count="1000"></list-component-obj-props>
                <!-- :count="attrVal" 과 같이 타입에 맞지 않는 값을 넣을 경우 attrVal 을 변수명으로 간주하며,
                attrVal 이라는 변수나 객체가 존재해야한다. 없다면 오류 발생. -->
            </ul>
        </div>
    </body>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app"
        });
    </script>
</html>