<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>06-01</title>
        <script src="../../Vue2x/vue.js"></script>
    </head>
    <script type="text/x-template" id="helloTemplate2">
        <!-- script 를 써서 컴포넌트를 등록하고자 할 때는 javascript <script>의 위에 위치시킨다 -->
        <!-- 혹은 어디에 위치시켜야 동작하는지 확인해야 한다 -->
        <div>Hellow World</div>
    </script>
    <body>
        <div id="example">
            <hello-component></hello-component>
            <hello-component1></hello-component1>
            <hello-component2></hello-component2>
            <br />
        </div>
        <template id="helloTemplate1">
            <div>Hello World!!!!</div>
        </template>
    </body>
    <script type="text/javascript">
        // Vue.component(tagname, options)
        // tagname 은 케밥 표기법을 권장한다
        // 이러한 template를 inline template 라고 하며 권장하지 않는다
        Vue.component("hello-component", {
            template: "<div>hello world</div>"
        });

        Vue.component("hello-component1", {
            template: "#helloTemplate1"
        });

        Vue.component("hello-component2", {
            template: "#helloTemplate2"
        });
        
        // vue component 를 적용시킬 때는 해당 컴포넌트를 사용하는 태그를 혹은 감싸는 태그를 vue 인스턴스에 바인딩해야 한다
        var vm = new Vue({
            el: "#example"
        });
    </script>
</html>