<!--
    컴포넌트는 기본 HTML 엘리먼트를 확장하여 재사용 가능한 코드를 캡슐화하는 데 도움이 된다.
    Vue 컴포넌트는 Vue 인스턴스이기도 하다. 따라서 루트에만 사용하는 옵션을 제외한 모든 옵션을 사용할 수 있다.
    또한 인스턴스와 같은 라이프사이클 훅을 사용할 수 있다. 
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="../../Vue2x/vue.js"></script>
    </head>
    <!-- 전역 컴포넌트 -->
    <script type="text/javascript">
        // 다음을 통해 전역 컴포넌트를 '등록'한다.
        // Vue.component(tagName, options)
        // 여기에서 tagName은 케밥표기법을 권장한다. (소문자와 하이픈을 사용)
        Vue.component('global-component', {
            template: '<div>it is global component</div>'
        });

        // 컴포넌트가 등록되면 컴포넌트는 인스턴스의 템플릿에서 커스텀 엘리먼트, <global-component>로 사용할 수 있다.
        // 루트 Vue 인스턴스를 인스턴스화하기 '전에' 컴포넌트가 등록되었는지 확인해야 한다. 
    </script>
    <!-- // 전역 컴포넌트 -->
    <body>
        <div id="app">
            <global-component></global-component>
        </div>
        <div id="app1">
            <local-component></local-component>
        </div>

        <script type="text/javascript">
            // 아래 Vue 인스턴스는 루트인스턴스로 사용하기 위해 생성
            var vm = new Vue({
                el: '#app'
            });

            var Child = {
                template: '<div>it is local component</div>'
            };

            // 컴포넌트를 인스턴스 vm1의 옵션으로 등록함으로써 지역 컴포넌트로 사용할 수도 있다.
            var vm1 = new Vue({
                el: '#app1',
                components: {
                    'local-component': Child
                }
            });
        </script>
    </body>
</html>