<!--
    Props로 데이터 전달하기
    모든 컴포넌트 인스턴스에는 자체 격리 된 범위 가 있습니다. 
    즉, 하위 컴포넌트의 템플릿에서 상위 데이터를 직접 참조 할 수 없으며 그렇게 해서는 안됩니다. 
    데이터는 props 옵션을 사용하여 하위 컴포넌트로 전달 될 수 있습니다.

    prop는 상위 컴포넌트의 정보를 전달하기위한 사용자 지정 특성입니다. 
    하위 컴포넌트는 props 옵션을 사용하여 수신 할 것으로 기대되는 props를 명시적으로 선언해야합니다.

    정규속성을 표현식에 바인딩하는 것(vm 인스턴스의 data를 #inputParent에 바인딩)과 비슷하게
    v-bind(또는 간결하게 : )를 이용하여 부모의 data를 props에 동적으로 바인딩할 수 있다.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="../../../Vue2x/vue.js"></script>
    </head>
    <!-- 전역 컴포넌트 -->
    <script type="text/javascript">
        Vue.component('child', {
            // props 정의
            props: ['myMessage'],
            // data와 마찬가지로 prop는 템플릿 내부에서 사용할 수 있으며
            // vm의 this.message로 사용할 수 있습니다.
            template: '<div>{{ myMessage }}</div>'
        });

        Vue.component('two-items-child', {
            props: ['firstName', 'lastName'],
            // component의 template을 만들 때는 
            // 1) 하나의 element만 있거나
            // 2) 하나의 root element가 있어야 한다.
            // 다음은 2번으로, 하나의 root element와 그 아래 다른 element가 들어있다.
            template: '<div><div>{{ firstName }}</div><div>{{ lastName }}</div></div>'
        });
    </script>
    <!-- // 전역 컴포넌트 -->
    <body>
        <div id="app">
            <input id="inputParent" type="text" placeholder="parent" v-model="parentMsg">
            <br>
            <!-- JavaScript는 Camel -->
            <!-- HTML은 Kebab -->
            <child my-message="Hi Vue."></child>
            <!-- 객체(wholeObj)를 바인딩 할 때는 각각이 아니라 다음처럼 객체를 통째로 넘겨줘도 된다 -->
            <two-items-child v-bind="wholeObj"></two-items-child>
            <!-- 부모의 data를 동적으로 바인딩 -->
            <child :my-message="parentMsg"></child>
        </div>

        <script type="text/javascript">
            // 루트 인스턴스
            var vm = new Vue({
                el: '#app',
                data: {
                    parentMsg: "first msg",
                    wholeObj: {
                        firstName: "Hong",
                        lastName: "Gil-dong"
                    }
                }
            });
        </script>
    </body>
</html>