<!--
    Replacing/Merging with Existing Attributes

    대부분의 속성의 경우 컴포넌트로 제공한 값이 컴포넌트에서 설정된 값을 대체합니다.
    예를 들어, 이 코드에서 type="date"는 기존의 type="text"를 대체합니다.

    하지만 style과 class 속성은 제공된 값과 설정된 값을 합칩니다.
    예를 들어, 이 코드에서 class="classB"는 합쳐져서 결과적으로 class="classA classB"가 됩니다.
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="../../../Vue2x/vue.js"></script>
    </head>
    <!-- 전역 컴포넌트 -->
    <script type="text/javascript">
        Vue.component('child', {
            template: '<input type="text" class="classA">'
        });
    </script>
    <!-- // 전역 컴포넌트 -->
    <body>
        <div id="app">
            <child type="date" class="classB"></child>
        </div>

        <script type="text/javascript">
            // 루트 인스턴스
            var vm = new Vue({
                el: '#app'
            });
        </script>
    </body>
</html>