<!--
    
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="../../../Sources/Vue2x/vue.js"></script>
    </head>
    <!-- 전역 컴포넌트 -->
    <script type="text/javascript">
        var data = { count: 0 };

        // 컴포넌트에서 data 옵션은 함수여야 한다.
        // 또한 위에 정의한 data를 가져다 쓰는 것처럼 특정 데이터를 가져다 쓰면
        // 해당 데이터가 변경 될 때 모든 컴포넌트의 값이 같이 바뀌므로 고려하여 사용해야한다.
        Vue.component('global-component', {
            template: '<div>it is global component</div>',
            data: function () {
                // return data; // data가 바뀌면 모든 컴포넌트의 값도 바뀐다
                return 0; // 이것처럼 컴포넌트별로 독립적으로 사용할 수 있는 데이터를 쓸 것을 권장

                // 위처럼 return 0;을 하면 콘솔에 다음과 같은 에러 발생
                // data functions should return an object
            }
        });
    </script>
    <!-- // 전역 컴포넌트 -->
    <body>
        <div id="app">
            <global-component></global-component>
        </div>

        <script type="text/javascript">
            // 루트 인스턴스
            var vm = new Vue({
                el: '#app'
            });
        </script>
    </body>
</html>