<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Directive1</title>
	<script src="../../Sources/Vue2x/vue.js"></script>
</head>
<body>
	<div id="app">
        <!-- v-for 에서 인덱스는 다음과 같이 사용하면 된다 -->
        <!-- v-for 와 v-if 는 같이 사용할 수 있는데, v-for 가 먼저 수행되고, v-if 가 적용된다. -->
        <input type="text" v-model="m.page" />
        <ul>
            <li v-for="(num, index) in m.datas" v-if="index >= startIndex && index <= endIndex">
                <span>index : {{ index }}  </span>
                <span>no : {{ num.no }}</span>
                <span style="margin-lfet:20px;">{{ num.val }}</span>
            </li>
        </ul>
        <br /><br />
        <ul>
            <li v-for="(val, key, index) in r" v-bind:value="r.key">
                <span>{{ index }}, {{ key }}, {{ val }} </span>
            </li>
        </ul>
        <br /><br />
        <!-- 두 요소 이상을 한 번에 반복 렌더링 하기 위해 <template> 태그로 묶어서 사용한다. -->
        <!-- <template> 태그는 렌더링 내용에는 포함되지 않고 요소들을 그룹으로 묶어주기 위한 용도로 사용된다. -->
        <ul>
            <template v-for="(row, index) in m.datas">
                <li>index : {{ index }}  no : {{ row.no }}, val : {{ row.val }}</li>
                <li v-if="(index + 1) % 5 === 0">####################################</li>
            </template>
        </ul>
    </div>
</body>
<script type="text/javascript">
    var model = {
        page: 1,
        pageSize: 5,
        totalCount: 15,
        datas: [
            { no: 1, val: 10 },
            { no: 2, val: 20 },
            { no: 3, val: 30 },
            { no: 4, val: 40 },
            { no: 5, val: 50 },
            { no: 6, val: 60 },
            { no: 7, val: 70 },
            { no: 8, val: 80 },
            { no: 9, val: 90 },
            { no: 10, val: 100 },
            { no: 11, val: 110 },
            { no: 12, val: 120 },
            { no: 13, val: 130 },
            { no: 14, val: 140 },
            { no: 15, val: 150 },
        ]
    };

    var regions = {
        A: "Asia",
        B: "America",
        C: "Europe",
        D: "Africa",
        E: "Oceania"
    };

    var vm = new Vue({
        el: "#app",
        data: {
            m: model, 
            r: regions
        },
        computed: {
            startIndex: function () {
                return (this.m.page - 1) * this.m.pageSize;
            },
            endIndex: function () {
                return (this.m.page * this.m.pageSize) - 1;
            }
        }
    });
</script>
</html>
